In [71]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [92]:
## Loading all pickle files:

model=load_model('model.h5')

## Save the encoders and sscaler
with open('le_feedback.pkl','rb') as file:
    le_feedback=pickle.load(file)

with open('le_smoke.pkl','rb') as file:
    le_smoke=pickle.load(file)

with open('ohe_education.pkl','rb') as file:
    ohe_education=pickle.load(file)

with open('ohe_occupation.pkl','rb') as file:
    ohe_occupation=pickle.load(file)

with open('ohe_location.pkl','rb') as file:
    ohe_location=pickle.load(file)

with open('ohe_property.pkl','rb') as file:
    ohe_property=pickle.load(file)

with open('ohe_policy.pkl','rb') as file:
    ohe_policy=pickle.load(file)
    
with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

with open('pca.pkl','rb') as file:
    pca=pickle.load(file)

with open("preprocessor.pkl", "rb") as file:
    preprocessor = pickle.load(file)

In [93]:
##Example Input data:
input_data={
'Annual Income':30424,
'Number of Dependents':3,
'Education Level':"PhD",
'Occupation':'Self-Employed',
'Health Score':5.136225173,
'Location':'Suburban',
'Policy Type':'Comprehensive',
'Previous Claims':1,
'Vehicle Age':3,
'Credit Score':770,
'Insurance Duration':5,
'Customer Feedback':'Poor',
'Smoking Status':'Yes',
'Property Type':'House'
}

## Input Data Preprocessing:

In [94]:
## Label Encoding:
feedback_encoded=le_feedback.transform([[input_data['Customer Feedback']]])
smoke_encoded=le_smoke.transform([[input_data['Smoking Status']]])
df_feedback=pd.DataFrame(feedback_encoded,columns=['Customer Feedback'])
df_smoke=pd.DataFrame(smoke_encoded,columns=['Smoking Status'])
df_label_encoded=pd.concat([df_smoke.reset_index(drop=True),df_feedback.reset_index(drop=True),],axis=1)
df_label_encoded

t:\Insurance Premium\venv\Lib\site-packages\sklearn\preprocessing\_label.py:134: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)
t:\Insurance Premium\venv\Lib\site-packages\sklearn\preprocessing\_label.py:134: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

   Smoking Status  Customer Feedback
0               1                  2

In [95]:
##One hot encoding:
education_encoded=ohe_education.transform([[input_data['Education Level']]]).toarray()
occupation_encoded=ohe_occupation.transform([[input_data['Occupation']]]).toarray()
location_encoded=ohe_location.transform([[input_data['Location']]]).toarray()
property_encoded=ohe_property.transform([[input_data['Property Type']]]).toarray()
policy_encoded=ohe_policy.transform([[input_data['Policy Type']]]).toarray()

df_education=pd.DataFrame(education_encoded,columns=ohe_education.get_feature_names_out(['Education Level']))
df_occupation=pd.DataFrame(occupation_encoded,columns=ohe_occupation.get_feature_names_out(['Occupation']))
df_location=pd.DataFrame(location_encoded,columns=ohe_location.get_feature_names_out(['Location']))
df_property=pd.DataFrame(policy_encoded,columns=ohe_property.get_feature_names_out(['Property Type']))
df_policy=pd.DataFrame(policy_encoded,columns=ohe_policy.get_feature_names_out(['Policy Type']))

df_ohe_encoded=pd.concat([df_education.reset_index(drop=True),df_occupation.reset_index(drop=True),
df_location.reset_index(drop=True),df_policy.reset_index(drop=True),df_property.reset_index(drop=True)],axis=1)

df_ohe_encoded

t:\Insurance Premium\venv\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
t:\Insurance Premium\venv\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
t:\Insurance Premium\venv\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
t:\Insurance Premium\venv\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
t:\Insurance Premium\venv\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

,Education Level_Bachelor's,Education Level_High School,Education Level_Master's,Education Level_PhD,Occupation_Employed,Occupation_Self-Employed,Occupation_Unemployed,Location_Rural,Location_Suburban,Location_Urban,Policy Type_Basic,Policy Type_Comprehensive,Policy Type_Premium,Property Type_Apartment,Property Type_Condo,Property Type_House
0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [96]:
input_df=pd.DataFrame([input_data])
input_df

,Annual Income,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Customer Feedback,Smoking Status,Property Type
0,30424,3,PhD,Self-Employed,5.136225,Suburban,Comprehensive,1,3,770,5,Poor,Yes,House

In [97]:
input_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Annual Income         1 non-null      int64
 1   Number of Dependents  1 non-null      int64
 2   Education Level       1 non-null      object
 3   Occupation            1 non-null      object
 4   Health Score          1 non-null      float64
 5   Location              1 non-null      object
 6   Policy Type           1 non-null      object
 7   Previous Claims       1 non-null      int64
 8   Vehicle Age           1 non-null      int64
 9   Credit Score          1 non-null      int64
 10  Insurance Duration    1 non-null      int64
 11  Customer Feedback     1 non-null      object
 12  Smoking Status        1 non-null      object
 13  Property Type         1 non-null      object
dtypes: float64(1), int64(6), object(7)
memory usage: 240.0+ bytes

In [98]:
numerical_columns=input_df.select_dtypes(exclude='O')
numerical_columns

,Annual Income,Number of Dependents,Health Score,Previous Claims,Vehicle Age,Credit Score,Insurance Duration
0,30424,3,5.136225,1,3,770,5

In [99]:
## Scaling of all numerical columns:
df_scaled=preprocessor.transform(numerical_columns)
input_df_scaled=pd.DataFrame(df_scaled,columns=numerical_columns.columns)
input_df_scaled

,Annual Income,Number of Dependents,Health Score,Previous Claims,Vehicle Age,Credit Score,Insurance Duration
0,-0.087024,0.691123,-1.680876,0.000328,-1.139536,1.176991,0.000899

In [100]:
##PCA
pca_scaled=pca.transform(input_df_scaled)
data_pca=pd.DataFrame(pca_scaled,columns=['pca_feature1','pca_feature2','pca_feature3'])
df_new_after_pca=pd.concat([data_pca.reset_index(drop=True),
                            df_ohe_encoded.reset_index(drop=True),
                            df_label_encoded.reset_index(drop=True)],axis=1)

df_new_after_pca

,pca_feature1,pca_feature2,pca_feature3,Education Level_Bachelor's,Education Level_High School,Education Level_Master's,Education Level_PhD,Occupation_Employed,Occupation_Self-Employed,Occupation_Unemployed,...,Location_Suburban,Location_Urban,Policy Type_Basic,Policy Type_Comprehensive,Policy Type_Premium,Property Type_Apartment,Property Type_Condo,Property Type_House,Smoking Status,Customer Feedback
0,-1.013412,-0.866868,0.475098,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1,2

## Final Prediction

In [101]:
# Convert DataFrame to NumPy array
final_data_transformed = df_new_after_pca.values

# Ensure it has the correct shape for prediction (1, number of features)
final_data_transformed = final_data_transformed.reshape(1, -1)

In [103]:
prediction=model.predict(final_data_transformed)
prediction

1/1 [==============================] - 0s 50ms/step

array([[872.23584]], dtype=float32)

## Predicted Premium Amount: 872.2358